language: elixir

otp_release:
- 18.0
- 19.3
- 20.0
- 21.0

elixir:
- 1.4
- 1.5
- 1.6
- 1.7

matrix:
  exclude:
  - otp_release: 21.0
    elixir: 1.4
  - otp_release: 21.0
    elixir: 1.5

env:
  - MIX_ENV=test
script:
  - mix local.hex --force
  - mix deps.get
  - mix deps.compile
  - mix compile --warnings-as-errors
  - mix test
  - mix credo --strict
