language: elixir
otp_release:
  - 17.5
  - 18.1
elixir:
  - 1.0.4
  - 1.0.5
  - 1.1.0
env:
  - MIX_ENV=test
script:
  - mix local.hex --force
  - mix deps.get
  - mix compile --warnings-as-errors
  - mix test
  - mix dogma lib/
