language: elixir

otp_release:
  - 18.0
  - 19.0
elixir:
  - 1.1.0
  - 1.2.6
  - 1.3.1
  
matrix:
  exclude:
    - otp_release: 19.0
      elixir: 1.1.0
env:
  - MIX_ENV=test
script:
  - mix local.hex --force
  - mix deps.get
  - mix deps.compile
  - mix compile --warnings-as-errors
  - mix test
  - mix dogma lib/
  - mix credo suggest --verbose lib/
